// List icons
$customerIcons: (
    Topic-question: "\f2df",
    appstore: "\f2e0",
    bbcode: "\f100",
    blog: "\f2e1",
    bold: "\f101",
    bullet2: "\f102",
    calendar: "\f103",
    caret-down: "\f104",
    caret-left: "\f105",
    caret-right: "\f106",
    caret-up: "\f107",
    checkbox: "\f108",
    checkbox-checked: "\f109",
    checkmark: "\f10a",
    clock: "\f10b",
    comment: "\f10c",
    create: "\f10d",
    cross: "\f10e",
    desktop: "\f10f",
    dislike: "\f110",
    dot: "\f111",
    dropdown: "\f112",
    ellipsis: "\f113",
    eye: "\f294",
    facebook: "\f114",
    filter: "\f115",
    folder: "\f116",
    forum: "\f2e2",
    googleplus: "\f117",
    heart: "\f118",
    heart-full: "\f119",
    idea: "\f11a",
    idea-new: "\f11b",
    image: "\f11c",
    info: "\f11d",
    instagram: "\f2e3",
    italic: "\f11e",
    link: "\f11f",
    linkedin: "\f120",
    lock: "\f121",
    menu: "\f122",
    minus: "\f123",
    mobile: "\f124",
    participants: "\f125",
    pen: "\f126",
    playstore: "\f2e4",
    plus: "\f127",
    poll: "\f128",
    powered-by: "\f2e5",
    question: "\f129",
    question-circle: "\f12a",
    quote: "\f12b",
    quote-open: "\f2dd",
    radio: "\f12c",
    radio-checked: "\f12d",
    reply: "\f12e",
    s-arrow-down: "\f12f",
    s-arrow-left: "\f130",
    s-arrow-right: "\f131",
    s-arrow-up: "\f132",
    search: "\f133",
    settings: "\f134",
    share: "\f135",
    single-checkmark: "\f2e6",
    smiley: "\f136",
    star: "\f137",
    star-full: "\f138",
    tag: "\f139",
    thumb-up: "\f13a",
    topic: "\f13b",
    topic-new: "\f13c",
    trashcan: "\f13d",
    twitter: "\f13e",
    underline: "\f13f",
    user: "\f140",
    vote-up: "\f2db",
    wait: "\f141",
    warning: "\f142",
    youtube: "\f2e7",
);