input[type=text],
input[type=search],
input[type=email],
input[type=password],
textarea {
  border-color: $input-border-color;
  font-family: $font-primary-stack;
}


//Select
.selectize-input,
.selectize-input.focus {
  @include setPadding($space-base-xsmall $space-base-xsmall 3px $space-base-xsmall);
  border-color: $input-border-color;
  color: $brand-dark;
  box-shadow: none;

  &:after {
    border-color: $brand-primary;
  }
}

.selectize-control.single .selectize-input:after,
.selectize-control.single .selectize-input.dropdown-active:after {
  border-top-color: $brand-primary;
  right: 10px;
}


//input-border-color
